html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  body {
    padding: 0;
    margin: 0;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  /* SITENAV */
  /* ARTICLES */
  /* SITE-FOOTER */
  