/*FONTS*/
@font-face {
  font-display: swap;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik-v9-latin_cyrillic-regular.woff2") format("woff2"),
       url("../fonts/rubik-v9-latin_cyrillic-regular.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/rubik-v9-latin_cyrillic-500.woff2") format("woff2"),
       url("../fonts/rubik-v9-latin_cyrillic-500.woff") format("woff");
}
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 500;
  src: url('../fonts/rubik-v9-latin-500italic.woff2') format('woff2'),
       url('../fonts/rubik-v9-latin-500italic.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik-v9-latin_cyrillic-700.woff2") format("woff2"),
       url("../fonts/rubik-v9-latin_cyrillic-700.woff") format("woff");
}

/*GENERAL STYLES*/
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1260px;
  margin: 0 auto;
  padding-right: 30px;
  padding-left: 30px;
}
*:focus {
  box-shadow: 0 0 0 3px #285193;
  outline: none;
  border-radius: 5px;
}

/* SITENAV */
.header {
  padding-top: 45px;
  background-color: #f6f6f9;
  border-top: 4px solid #295093;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
}
.logo {
  display: block;
  padding: 9px 11px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 2px 6px rgba(202, 202, 202, 0.25);
}
.currency-list {
  flex-grow: 1;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.currency-item {
  font-size: 16px;
  line-height: 19px;
  margin-left: 17px;
  color: #7a7a7a;
}
.currency-icon {
  margin-right: 5px;
  font-weight: 700;
  color: #285193;
}
.buttons {
  display: flex;
  align-items: center;
}
.search {
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.search-icon {
  display: block;
}
.lang {
  display: flex;
  align-items: center;
  margin-left: 22px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.lang-img {
  display: block;
  border-radius: 50%;
}
.lang-text {
  font-weight: 500;
  margin-left: 5px;
}
.tg-sub {
  display: flex;
  padding: 10px;
  margin-left: 22px;
  font-weight: 500;
  text-decoration: none;
  color: #ffffff;
  background: linear-gradient(90deg, #1e96c8 15.07%, #37aee2 85.96%);
  border-radius: 5px;
}
.tg-icon {
  margin-right: 7px;
}

/* MAIN-BODY */

/* SITE-FOOTER */
.site-footer {
  background-color: #295093;;
}
.footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid #133c82;
}
.footer-top-left {
  background: #133c82;
  border-radius: 5px;
  padding: 6px 12px;
}
.footer-top-left a {
  text-decoration: none;
  color: #ffffff;
}
.footer-top-right {
  display: flex;
  justify-content: space-between;
  align-items: center;   
}
.footer-top-right p {
  color: #ffffff;
}
.tg-link-blue {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 132px;
  height: 38px;
  padding: 9px;
  margin: 18px 0 18px 18px;
  text-decoration: none;
  border-radius: 5px;
  background-color: #fff;
}
.tg-link-blue:hover {
  box-shadow: 0 0 20px #1b3666;
}
.tg-link-blue img {
  margin-right: 6px;
}.tg-link-blue span {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #295093;
}
.site-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
.site-bottom ul {
  list-style: none;
  font-weight: 500;
  font-size: 14px;
}
.site-bottom li {
  line-height: 2;
}
.site-bottom a {
  text-decoration: none;
  color: #ffffff;
}
.site-bottom a:hover {
  text-decoration: underline;
}
.about-site {
  width: 365px;
}
.about-site h2 {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
.about-site p {
  font-size: 14px;
  line-height: 17px;
}